body {
    background-color: rgba(255, 255, 255, 0.979);
    font: normal 15pt Arial;
    color: rgb(250, 250, 250);
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.733);
    text-align: center;
}

div#img {
    padding: 30px;

}

footer {
    text-align: center;
    font-style: italic;
    padding: 15px;
}

a {
    font: italic 20PX times ;
    color: rgb(255, 255, 255);
}
